# Gemini AI API Key
GEMINI_API_KEY=AIzaSyBcXjVhfeurvh3qyY4xGh_rKh6lJ5epmu4

# MongoDB Connection String
MONGODB_URI=mongodb+srv://hatueyfierro2005_db_user:RxMsv2RBIbbkwnsS@chatbot.rmqcju9.mongodb.net/?appName=chatbot
